div
    &.bx-system-auth-form
        span
            &.bx-auth-secure
                background-color #fffae3
                border 1px solid #dedbc8
                padding 2px
                display inline-block
                vertical-align bottom
                margin-top -1px
        div
            &.bx-auth-secure-icon
                background-image url(images/sec.png)
                background-repeat no-repeat
                background-position center
                width 19px
                height 18px
            &.bx-auth-secure-unlock
                background-image url(images/sec-unlocked.png)

ul
    &.left-menu
        list-style none
        margin 0
        padding 0
        margin-bottom 8px
        position relative
        li
            padding 10px 16px
            background #f5f5f5 url(/bitrix/templates/.default/components/bitrix/menu/menu_footer/images/left_menu_bg.gif) top repeat-x
            a
                font-size 100%
                color #bc262c
                font-weight bold
                text-decoration none
                &:visited
                    color #bc262c
                &:hover
                    color #bc262c

ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover
    color #fc8d3d

.bread_crumbs
    width 37.75%
    margin-left 30.5%
    text-align center
    padding-top 15px

.bread_crumbs a, .bread_crumbs span
    font 13px/20px Proxima Nova Regular
    text-decoration none
    color #808080

.catalog_grid h1, .cat_title
    font 34px/30px Lora bold
    width 24.75%
    margin-left 37.5%
    text-align center
    padding-top 15px
    margin-bottom 35px

#hidden_block_cat_list
    display none

.filter_product
    text-align center
    margin-bottom 25px
    a
        font 11px/20px Proxima Nova Bold
        text-transform uppercase
        text-decoration none
        color #1f1c20
        margin 0 10px
        padding 10px
        &.active
            border 1px solid #e7e7e7
            background #fff

.row
    padding-bottom 45px
    width 100%
    margin 0

.col-xs-12
    padding 0
    width 100%

.grid
    width 95.23%
    margin 0 auto
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex

.grid-item
    width 270px
    height 375px
    float left
    margin 0 15px
    &:hover
        .grid_title
            a
                &:after
                    transform scale(1)
        .grid_image
            img
                opacity 0.6

.grid_image
    margin-bottom 15px
    img
        transition opacity .5s
        width 270px

.grid_title
    font 11px/20px Proxima Nova Bold
    text-transform uppercase
    text-align center
    padding 0 25px
    a
        text-decoration none
        color #212121
        display inline-block
        &:after
            content ""
            display block
            border-bottom 2px solid #b4b4b4
            transition transform .5s
            transform scale(0, 1)

.grid_price
    font 12px/22px Proxima Nova Regular
    text-align center
    a
        text-decoration none
        color #212121

.wrap_detail
    & > div
        float left
    h1
        font 34px/30px Lora bold
        margin-bottom 0
        margin-left 37.5%
        padding-top 15px
        text-align center
        width 23.75%

.left_block
    width 50%
    padding 60px 105px
    p
        font 14px/24px Proxima Nova Regular

.parameter
    border-bottom 1px solid #e4e4e4
    color #808080
    font 11px/44px Proxima Nova Regular
    text-transform uppercase
    &.p_first
        border-top 1px solid #e4e4e4
    &.p_last
        border-bottom none

.result_rice_order
    font 22px/20px Proxima Nova Bold
    margin 15px 0 40px
    & > span
        font-size 14px

.in_basket
    background none
    font 14px/40px Proxima Nova Regular
    height 45px
    text-align center
    width 185px
    border 3px solid #1f1c20
    & > a
        color #1f1c20
        display block
        height 100%
        text-decoration none
        width 100%
        -webkit-transition all .45s
        -moz-transition all .45s
        -ms-transition all .45s
        -o-transition all .45s
        transition all .45s
        &:hover
            color #fff
            background #1f1c20

.social_detail
    display flex
    margin 0 auto
    padding-top 5px
    width 255px
    & > span
        float left
        font 14px Proxima Nova Regular
        margin-right 5px
    & > a
        float left
        width 20px
        height 20px
        margin 0 5px
        background url(images/social_detail.png) no-repeat

a
    &.face_d
        background-position 8px 3px
    &.vk_d
        background-position -14px 3px
    &.pin_d
        background-position -34px 3px
    &.go_cart
        display none
    &.prev
        &.slider_control
            left 20px
            background url(images/slider_control.png) no-repeat 0 0
    &.next
        &.slider_control
            right 20px
            background url(images/slider_control.png) no-repeat 0 100%

.stage
    .carousel
        border 1px solid #f1f1f1

.controls
    background #000 none repeat scroll 0 0
    height 50px
    width 70px
    cursor pointer

.connected-carousels
    .carousel-navigation
        height 250px
        overflow hidden
        width 75px

.prev_navigation
    background url(images/control_up.png) no-repeat center center

.next_navigation
    background url(images/control_down.png) no-repeat center center

.wrap_recommend
    padding-top 35px

.recommend_head
    background #fff none repeat scroll 0 0
    height 100px
    padding 20px 0
    width 100%
    h2
        font 13px Proxima Nova Bold
        position relative
        text-align center
        text-transform uppercase
        &::after
            border-bottom 2px solid
            content ""
            display block
            margin 5px auto 0
            position relative
            width 125px
    & > span
        background #f1f1f1 none repeat scroll 0 0
        display none
        height 1px
        margin-top -16px
        position relative

.wrap_grid_recommend
    margin 0 auto
    max-width 1200px
    width 100%
    .grid
        width 100%

.go_cart
    display none

.page_container p, .bx_page p, .bx_page a
    font 14px/24px Lora Regular
    margin 0

.page_container h3, .bx_page h2
    text-transform uppercase
    font 12px/20px Proxima Nova Bold
    margin 0

.bx_page
    h2
        margin 15px 0 5px
    a
        text-decoration none
        color #1f1c20
        display inline-block
        &::after
            border-bottom 2px solid #b4b4b4
            content ""
            display block
            transform scale(0, 1)
            transition transform 0.5s ease 0s
        &:hover
            &::after
                transform scale(1)

.wrap_page
    margin 0 auto
    max-width 1200px
    width 100%

.page_container
    margin-top 50px
    width 75%
    display flex
    height auto
    color #1f1c20
    & > div
        float left

@media screen and (max-width: 768px)
    .page_container
        margin-bottom 85px

.page_left
    width 300px

.page_right
    width 66.66%

.left_menu
    list-style outside none none
    margin 0
    padding 0
    width 200px
    li
        height 50px
        &:first-child
            a
                border-top 1px solid #e3e3e3
        a
            border-bottom 1px solid #e3e3e3
            border-right 1px solid transparent
            border-top 1px solid transparent
            border-left 1px solid transparent
            color #212121
            font 14px Proxima Nova Regular
            text-decoration none
            text-transform uppercase
            padding 16px 0 16px 20px
            width 100%
            height 100%
            display block
            &.active
                border-right 1px solid #e3e3e3
                border-left 1px solid #e3e3e3
                background #fff
                font-family Proxima Nova Bold
            span
                &::after
                    border-bottom 2px solid #212121
                    content ""
                    display block
                    transform scale(0, 1)
                    transition transform 0.5s ease 0s
            &:hover
                span
                    &::after
                        transform scale(1)
    span
        float left

.wrapper_form
    background #fff none repeat scroll 0 0
    border 1px solid #e3e3e3
    display flex
    height auto
    margin 50px auto 30px
    max-width 535px
    padding 30px 50px 50px
    width 100%
    font-family Proxima Nova Regular

.left_block_form.block_form, .bx-system-auth-form, .bx-system-auth-form > form, .bx-auth-reg, .bx-auth-reg table, .bx-auth-reg input
    width 100%

.bx-system-auth-form input, .bx-auth-reg input
    height 38px
    margin 5px 0
    width 100%
    outline none
    border 1px solid #e3e3e3
    -webkit-transition border .5s
    -moz-transition border .5s
    -ms-transition border .5s
    -o-transition border .5s
    transition border .5s

.bx-system-auth-form input:hover, .bx-system-auth-form input:focus, .bx-auth-reg input:hover, .bx-auth-reg input:focus
    border 1px solid

.bx-system-auth-form
    td
        font 16px Proxima Nova Bold
    table
        tr
            &:last-child
                display none
    input[type="checkbox"]
        width auto
    a
        color #1f1c20
        font 12px/20px Proxima Nova Regular
        text-decoration none
        display inline-block
        &::after
            content ""
            display block
            border-bottom 2px solid #b4b4b4
            transition transform .5s
            transform scale(0, 1)
        &:hover
            &::after
                transform scale(1)

.bx-auth-reg
    td
        font 14px Proxima Nova Regular
        b
            font 16px Proxima Nova Bold
    input[type="submit"]
        width 100%

.bx-system-auth-form input[type="submit"], .bx-auth-reg input[type="submit"]
    cursor pointer
    background rgba(0, 0, 0, 0) none repeat scroll 0 0
    border 3px solid #1f1c20
    //height 45px
    width 185px
    color #1f1c20
    display block
    height 100%
    text-decoration none
    transition all 0.45s ease 0s
    text-shadow none
    font 14px/40px Proxima Nova Regular !important
    padding 0
    top 0
    border-radius 0
    margin 0 auto

.bx-system-auth-form input[type="submit"]:hover, .bx-auth-reg input[type="submit"]:hover
    background #1f1c20 none repeat scroll 0 0
    color #fff

.wrap_all
    margin 0 auto
    max-width 1200px !important
    width 98% !important

.bx_sort_container
    display none

#basket_items_list
    margin-top 50px

#basket_items
    thead
        tr
            border-bottom 1px solid #c9c9c9
            font 12px Proxima Nova Regular
    td
        vertical-align middle
        font 12px Proxima Nova Regular
        padding 10px 15px
        text-align center
        &.item
            text-align left
        &.control
            text-align right
        &.price
            .current_price
                font 12px Proxima Nova Regular

.bx_ordercart
    .bx_ordercart_order_table_container
        table
            thead
                td
                    background none
                    color #000
                    font-size 14px
                    line-height 39px
                    min-height 39px
                    padding 0 5px
            tbody
                td
                    vertical-align middle
        tbody
            td
                &.control
                    a
                        color #d8d8d8
                        font-size 11px
                        text-decoration none
                        -webkit-transition color .5s
                        -moz-transition color .5s
                        -ms-transition color .5s
                        -o-transition color .5s
                        transition color .5s
                        &:hover
                            color #000
    .bx_ordercart_order_pay_center
        background rgba(0, 0, 0, 0) none repeat scroll 0 0
        border 3px solid #1f1c20
        height 45px
        text-align center
        width 185px
        padding 0
        margin 20px 0 0
        float right

.counter
    input
        border 1px solid #d8d8d8
        padding 1px 5px
        text-align center
        height 20px

.basket_quantity_control
    a
        background transparent url("images/arrows.png") no-repeat scroll 0 0
        border 1px solid #d8d8d8
        display block
        height 10px
        text-align center
        width 12px
        &.plus
            background-position 0 0
            border-radius 0
            margin-top 4px
        &.minus
            background-position 0 -20px
            border-radius 0
            margin-top 0

#coupons_block
    display none

.bx_ordercart_order_pay_right
    float right !important

.bx_ordercart_order_sum
    tr
        &:first-child
            display none
        &:nth-child(2n)
            display none

.navigation-arrows
    background rgba(0, 0, 0, 0) none repeat scroll 0 0
    border 3px solid #1f1c20
    height 45px
    text-align center
    width 185px
    padding 0
    margin 20px auto
    a
        text-decoration none
        color #1f1c20
        &:hover
            text-decoration none

.catalog_grid
    .navigation-pages
        display none

.bx_ordercart .bx_ordercart_order_pay_center a.checkout, .more_product
    background none
    color #1f1c20
    display block
    height 100%
    text-decoration none
    transition all 0.45s ease 0s
    text-shadow none
    font 14px/40px Proxima Nova Regular !important
    width 100%
    padding 0
    top 0
    border-radius 0

.bx_ordercart .bx_ordercart_order_pay_center a.checkout:hover, .more_product:hover
    background #1f1c20 none repeat scroll 0 0
    color #fff

.control
    a
        &:nth-child(n & + 2)
            display none

.order-checkout2
    margin 0 auto
    max-width 640px
    width 100%

.label
    &.left
        & > input
            float left
            margin-right 10px
            margin-top 1px

.section
    & > h4
        font 16px Proxima Nova Bold

.bx_section > h4, .bx_ordercart > h4
    font 14px Proxima Nova Bold

#order_form_div
    .label
        &.left
            margin-right 45px
    label
        font 14px Proxima Nova Regular

#sale_order_props, .bx_ordercart
    font 14px Proxima Nova Regular

#sale_order_props
    input
        max-width 600px
        width 100%

.bx_order_make
    .bx_ordercart_order_pay_center
        background rgba(0, 0, 0, 0) none repeat scroll 0 0
        border 3px solid #1f1c20
        height 45px
        text-align center
        width 185px
        padding 0
        margin 20px 0 0
        float right
        a
            &.checkout
                background none
                color #1f1c20
                display block
                height 100%
                text-decoration none
                transition all 0.45s ease 0s
                text-shadow none
                font 14px/40px Proxima Nova Regular !important
                width 100%
                padding 0
                top 0
                border-radius 0
                &:hover
                    background #1f1c20 none repeat scroll 0 0
                    color #fff
    .bx_block
        &.r1x3
            margin 0
            width 22%
        &.r3x1
            margin 0
            width 78%

#order_form_div input[type="text"], #order_form_div input[type="password"], #order_form_div textarea, #order_form_div select
    height 38px
    margin 5px 0
    width 100%
    outline none
    border 1px solid #e3e3e3
    -webkit-transition border .5s
    -moz-transition border .5s
    -ms-transition border .5s
    -o-transition border .5s
    transition border .5s
    box-shadow none

#order_form_div input[type="text"]:hover, #order_form_div input[type="password"]:hover, #order_form_div textarea:hover, #order_form_div select:focus, #order_form_div input[type="text"]:focus, #order_form_div input[type="password"]:focus, #order_form_div textarea:focus
    border 1px solid

.bx_section
    div
        &:nth-child(7)
            display none

.bx-auth
    &:last-child
        display none

.bx-auth-title
    font 34px/30px Lora bold
    margin-bottom 0
    margin-left 37.5%
    padding-top 15px
    text-align center
    width 23.75%

@font-face
    font-family Proxima Nova Regular
    src url("fonts/ProximaNovaRegular.woff") format("woff")
    font-style normal
    font-weight normal

@font-face
    font-family Proxima Nova Bold
    src url("fonts/ProximaNovaBold.woff") format("woff")
    font-style normal
    font-weight normal

@font-face
    font-family Lora Regular
    src url("fonts/LoraRegular.woff") format("woff")
    font-style normal
    font-weight normal

@font-face
    font-family Lora Bold
    src url("fonts/LoraBold.woff") format("woff")
    font-style normal
    font-weight normal

html, body
    margin 0
    padding 0
    height 100%

.not-scroll
    overflow hidden
    position fixed
    right 0
    left 0
    top 0
    bottom 0

*
    box-sizing border-box

.custom_background
    background #f9f9f9

.wrapper_all
    height 100%

.content_wrap
    min-height 100%
    padding-bottom 155px

h1
    font 34px/30px Lora bold
    margin-bottom 0
    margin-left 37.5%
    padding-top 15px
    text-align center
    width 23.75%

.mask
    -webkit-transform scale(0, 1)
    -moz-transform scale(0, 1)
    -ms-transform scale(0, 1)
    -o-transform scale(0, 1)
    transform scale(0, 1)
    -webkit-transform-origin right 0 0
    -moz-transform-origin right 0 0
    -ms-transform-origin right 0 0
    -o-transform-origin right 0 0
    transform-origin right 0 0
    opacity .5
    &.active
        position fixed
        top 0
        left 0
        background #000
        z-index 13
        width 100%
        height 100%
        cursor pointer
        -webkit-transform scale(1)
        -moz-transform scale(1)
        -ms-transform scale(1)
        -o-transform scale(1)
        transform scale(1)
        -webkit-transition -webkit-transform .7s
        -moz-transition transform .7s
        -ms-transition transform .7s
        -o-transition transform .7s
        transition transform .7s

.clear
    clear both

.header
    height 125px
    width 100%
    background #fff
    border-bottom 1px solid #e3e3e3
    a
        font 12px/20px Proxima Nova Regular
        text-transform uppercase
        text-decoration none
        color #1f1c20

.wrap_head
    margin 0 auto
    max-width 1200px
    width 100%
    & > div
        float left
        height 125px

.navigaton
    max-width 450px
    width 37.5%

.wrap_navigation
    padding 56px 0

.logo
    max-width 285px
    width 23.75%
    text-align center
    img
        width 133px

.social
    max-width 165px
    width 13.75%
    & > div
        float left
        margin-left 15px
        padding 54px 0
    a
        transition background .4s

.hidden-menu
    display block
    position fixed
    padding 105px 55px
    margin 0
    box-sizing border-box
    width 330px
    background-color #fff
    height 100%
    top 0
    left -330px
    transition left .2s
    z-index 15
    -webkit-transform translateZ(0)
    -webkit-backface-visibility hidden
    .social
        display none
    .nav, .submenu-place
        display none
    ul
        list-style none
    li
        margin-bottom 20px
        &:hover
            a
                &:after
                    -webkit-transform scale(1)
                    -moz-transform scale(1)
                    -ms-transform scale(1)
                    -o-transform scale(1)
                    transform scale(1)
    a
        font 12px/16px Proxima Nova Regular
        display inline-block
        &:after
            content ""
            display block
            border-bottom 2px solid #b4b4b4
            -webkit-transition -webkit-transform .5s
            -moz-transition transform .5s
            -ms-transition transform .5s
            -o-transition transform .5s
            transition transform .5s
            -webkit-transform scale(0, 1)
            -moz-transform scale(0, 1)
            -ms-transform scale(0, 1)
            -o-transform scale(0, 1)
            transform scale(0, 1)
    .auth
        display none

.auth
    max-width 155px
    width 12.91%
    .auth_link
        float left
        margin 0 2px
        padding 51px 0
        a
            &:after
                content ""
                display block
                border-bottom 2px solid #b4b4b4
                -webkit-transition -webkit-transform .5s
                -moz-transition transform .5s
                -ms-transition transform .5s
                -o-transition transform .5s
                transition transform .5s
                -webkit-transform scale(0, 1)
                -moz-transform scale(0, 1)
                -ms-transform scale(0, 1)
                -o-transform scale(0, 1)
                transform scale(0, 1)
        &:hover
            a
                &:after
                    -webkit-transform scale(1)
                    -moz-transform scale(1)
                    -ms-transform scale(1)
                    -o-transform scale(1)
                    transform scale(1)

.cart_in_head
    max-width 145px
    width 12.08%

.nav
    list-style outside none none
    margin 0 0 0 60px
    float left
    padding 0
    li
        float left
        a
            display block
            margin-right 27px
            &:after
                content ""
                display block
                border-bottom 2px solid #b4b4b4
                -webkit-transition -webkit-transform .5s
                -moz-transition transform .5s
                -ms-transition transform .5s
                -o-transition transform .5s
                transition transform .5s
                -webkit-transform scale(0, 1)
                -moz-transform scale(0, 1)
                -ms-transform scale(0, 1)
                -o-transform scale(0, 1)
                transform scale(0, 1)
        &:last-child
            a
                margin-right 0
        &:hover
            a
                &:after
                    -webkit-transform scale(1)
                    -moz-transform scale(1)
                    -ms-transform scale(1)
                    -o-transform scale(1)
                    transform scale(1)
    & > li
        & > a
            padding 0

.nav > li > a:hover, .nav > li > a:focus
    background none

.burger
    float left
    margin-left 20px

.hidden-menu-ticker
    display none
    &:checked
        & ~ .hidden-menu
            left 0
        & ~ .btn-menu
            span
                &.first
                    -webkit-transform rotate(45deg)
                    -moz-transform rotate(45deg)
                    -ms-transform rotate(45deg)
                    -o-transform rotate(45deg)
                    transform rotate(45deg)
                    top 6px
                    height 3px
                    border none
                &.second
                    opacity 0
                &.third
                    -webkit-transform rotate(-45deg)
                    -moz-transform rotate(-45deg)
                    -ms-transform rotate(-45deg)
                    -o-transform rotate(-45deg)
                    transform rotate(-45deg)
                    top -6px
                    height 3px
                    border none

.btn-menu
    color #fff
    position absolute
    display block
    cursor pointer
    transition left .23s
    z-index 16
    width 20px
    left 2.8%
    -webkit-transform translateZ(0)
    -webkit-backface-visibility hidden
    span
        display block
        height 3px
        background-color #000
        margin 3px 0 0
        transition all .1s linear .23s
        position relative
        &.first
            margin-top 0
            height 5px
            border-top 2px solid #fff
        &.third
            height 5px
            border-bottom 2px solid #fff

.btn-menu:hover span.third, .btn-menu:hover span.first
    border none

.language
    a
        text-transform none
        font 12px/20px Lora Regular
        &.active
            font-family Lora Bold

.face
    & > a
        background rgba(0, 0, 0, 0) url("images/sp_social.png") no-repeat scroll 4px 0
        display block
        height 12px
        width 16px
        &:hover
            background-position 4px 100%

.vk
    & > a
        background rgba(0, 0, 0, 0) url("images/sp_social.png") no-repeat scroll -21px 0
        display block
        height 12px
        width 16px
        &:hover
            background-position -21px 100%

.insta
    & > a
        background rgba(0, 0, 0, 0) url("images/sp_social.png") no-repeat scroll -48px 0
        display block
        height 12px
        width 16px
        &:hover
            background-position -48px 100%

.sing_in
    input
        background rgba(0, 0, 0, 0) none repeat scroll 0 0
        border medium none
        font 12px Proxima Nova Regular
        text-transform uppercase

.cart_info
    padding 51px 0

table#basket_items
    background #fff
    thead
        tr
            td
                text-transform uppercase
                color #808080

.product_name
    font 11px/20px Proxima Nova Bold
    text-transform uppercase

td#allSum_FORMATED
    font-size 22px

.main_slider
    width 100%

.item_slider
    width 100%
    height 850px
    cursor pointer
    a
        width 100%
        height 100%
        display block

.slider_control
    width 60px
    height 60px
    display block
    background red
    position absolute
    z-index 10
    margin-top 295px

.category_item
    float left
    height 310px
    width 48.8%
    margin 0.79%
    & > a
        color #fff
        display inline-block
        font 24px/20px Proxima Nova Bold
        height 100%
        text-align center
        text-decoration none
        text-transform uppercase
        width 100%
        background rgba(0, 0, 0, 0)
        -webkit-transition background .5s
        -moz-transition background .5s
        -ms-transition background .5s
        -o-transition background .5s
        transition background .5s
        &:hover
            background rgba(0, 0, 0, .6)
    span
        display inline-block
        margin 140px 0
        &::before
            border-top 2px solid #fff
            content ""
            display block
            margin-bottom 3px
            -webkit-transform scale(0, 1)
            -moz-transform scale(0, 1)
            -ms-transform scale(0, 1)
            -o-transform scale(0, 1)
            transform scale(0, 1)
            -webkit-transition all 0.6s ease 0s
            -moz-transition all 0.6s ease 0s
            -ms-transition all 0.6s ease 0s
            -o-transition all 0.6s ease 0s
            transition all 0.6s ease 0s
            transform-origin right 0 0
            -webkit-transform-origin right 0 0
            -moz-transform-origin right 0 0
            -ms-transform-origin right 0 0
            -o-transform-origin right 0 0
            //transform-origin right 0 0
        &::after
            border-top 2px solid #fff
            content ""
            display block
            margin-top 3px
            -webkit-transform scale(0, 1)
            -moz-transform scale(0, 1)
            -ms-transform scale(0, 1)
            -o-transform scale(0, 1)
            transform scale(0, 1)
            -webkit-transition all 0.6s ease 0s
            -moz-transition all 0.6s ease 0s
            -ms-transition all 0.6s ease 0s
            -o-transition all 0.6s ease 0s
            transition all 0.6s ease 0s
            -webkit-transform-origin left 0 0
            -moz-transform-origin left 0 0
            -ms-transform-origin left 0 0
            -o-transform-origin left 0 0
            transform-origin left 0 0



.cat_2
    margin-left 0

.cat_3
    margin-top 0

.cat_4
    margin-top 0
    margin-left 0

.category_item:hover span::before, .category_item:hover span::after
    -webkit-transform scale(1)
    -moz-transform scale(1)
    -ms-transform scale(1)
    -o-transform scale(1)
    transform scale(1)

.infographics
    width 70.23%
    margin 0 auto
    height 230px
    display flex
    padding-top 55px
    & > div
        float left
        width 33%

.infographics_image
    float left

.infographics_text
    font 12px/20px Proxima Nova Regular
    text-transform uppercase
    padding 37px 0
    margin-left 25px
    float left

footer
    width 100%
    height 125px
    background #010101
    margin-top -125px

.footer
    width 95.23%
    margin 0 auto

.navigation_footer
    width 100%
    float left
    height 60px
    border-bottom 1px solid #29272a
    & > div
        float left

.social_footer
    width 25%
    padding 24px 0
    & > div
        float left
        margin 0 7.5px

.nav_footer
    width 50%
    padding 20px 0
    ul
        list-style outside none none
        margin 0 auto
        padding 0
        width 530px
        li
            float left
    li
        a
            font 12px/20px Proxima Nova Regular
            color #fff
            text-transform uppercase
            text-decoration none
            margin 0 12.5px
            display block
            &:after
                content ""
                display block
                border-bottom 2px solid #fff
                -webkit-transition -webkit-transform .5s
                -moz-transition transform .5s
                -ms-transition transform .5s
                -o-transition transform .5s
                transition transform .5s
                -webkit-transform scale(0, 1)
                -moz-transform scale(0, 1)
                -ms-transform scale(0, 1)
                -o-transform scale(0, 1)
                transform scale(0, 1)
        &:hover
            a
                &:after
                    -webkit-transform scale(1)
                    -moz-transform scale(1)
                    -ms-transform scale(1)
                    -o-transform scale(1)
                    transform scale(1)

.copy
    width 25%
    color #4d4d4d
    text-align right
    padding 20px 0
    font 13px Proxima Nova Regular

.mobile_footer
    display none

.soc_footer
    background url(images/soc_footer.png) no-repeat
    width 16px
    height 12px
    display block

.f_face
    a
        background-position 5px 0

.f_vk
    a
        background-position -19px 0

.f_insta
    a
        background-position -46px 0

.wrap_nawak
    width 100%
    float left

.nawak
    text-align center
    padding 20px 0
    span
        color #4d4d4d
        font 12px/20px Lora Regular
    & > a
        font 12px/20px Lora Regular
        color #fff
        margin-left 3px
        text-decoration none

.right_block
    .stage
        .carousel-stage
            img
                width 400px

.lookbook_image
    margin-bottom 25px
    width 100%

.waves-effect
    position relative
    cursor pointer
    display inline-block
    overflow hidden
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    -webkit-tap-highlight-color transparent
    vertical-align middle
    z-index 1
    will-change opacity, transform
    transition all .3s ease-out
    .waves-ripple
        position absolute
        border-radius 50%
        width 20px
        height 20px
        margin-top -10px
        margin-left -10px
        opacity 0
        background rgba(0, 0, 0, 0.2)
        transition all 0.7s ease-out
        //transition-property opacity, -webkit-transform
        //transition-property transform, opacity
        transition-property transform, opacity, -webkit-transform
        -webkit-transform scale(0)
        transform scale(0)
        pointer-events none
    &.waves-light
        .waves-ripple
            background-color rgba(255, 255, 255, 0.7)
    &.waves-black
        .waves-ripple
            background-color rgba(0, 0, 0, 0.8)
    &.waves-yellow
        .waves-ripple
            background-color rgba(255, 235, 59, 0.7)
    &.waves-orange
        .waves-ripple
            background-color rgba(255, 152, 0, 0.7)
    &.waves-purple
        .waves-ripple
            background-color rgba(156, 39, 176, 0.7)
    &.waves-green
        .waves-ripple
            background-color rgba(76, 175, 80, 0.7)
    &.waves-teal
        .waves-ripple
            background-color rgba(0, 150, 136, 0.7)

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"]
    border 0
    font-style normal
    font-size inherit
    text-transform inherit
    background none

.waves-notransition
    transition none !important

.waves-circle
    -webkit-transform translateZ(0)
    transform translateZ(0)
    -webkit-mask-image -webkit-radial-gradient(circle, white 100%, black 100%)
    text-align center
    width 2.5em
    height 2.5em
    line-height 2.5em
    border-radius 50%
    -webkit-mask-image none

.waves-input-wrapper
    border-radius 0.2em
    vertical-align bottom
    .waves-button-input
        position relative
        top 0
        left 0
        z-index 1

.waves-block
    display block

@media screen and (max-width: 1200px)
    .nav, .submenu-place
        margin 0 0 0 80px
    .social
        max-width 165px
        width 11.75%
    .auth
        max-width 155px
        width 14.91%

@media screen and (max-width: 1070px)
    .nav, .submenu-place
        li
            a
                margin-right 22px
    .infographics
        width 98%
    .infographics_image
        float none
        text-align center
    .infographics_text
        margin-left 0
        float none
        text-align center

@media screen and (max-width: 1030px)
    .nav, .submenu-place
        margin 0 0 0 70px
        li
            a
                margin-right 19px
    .left_block
        width 48%
        padding 60px 35px

@media screen and (max-width: 890px)
    .auth
        display none
    .cart_in_head
        margin-left: 100px;

@media screen and (max-width: 780px)
    .navigaton
        width 0
    .logo
        max-width 100%
        width 100%
    .hidden-menu
        padding 18px 55px
        overflow-y scroll
        .auth
            max-width 100%
            width 100%
            display inline-block
            padding-left 38px
            & > div
                padding 35px 0
        .nav, .submenu-place
            display block
            margin 0 0 0 40px
            float none
            li
                float none
                &:last-child
                    display none
                a
                    display inline-block
        .social
            display block
            max-width 100%
            width 100%
            margin-left 20px
            & > div
                padding 20px 0
    .auth
        display none
    .nav, .submenu-place
        display none
    .social
        display none
    .wrap_head
        & > div
            &.cart_in_head
                position absolute
                right 2.8%
                width 20%
                text-align right
    .social_footer
        width 15%
    .nav_footer
        width 66%
        ul
            width 482px
        li
            a
                margin 0 9.5px
    .copy
        width 19%

@media screen and (max-width: 768px)
    footer
        height 220px
    .footer
        width 95.23%
        margin 0 auto
    .navigation_footer
        height 159px
        & > div
            &.copy
                float right
    .social_footer
        width 25%
    .f_face
        margin-left 0 !important
    .nav_footer
        position absolute
        width 95%
        ul
            width 270px
            li
                float none
                text-align center
                a
                    display inline-block
    #basket_items
        thead
            display none
        tbody
            tr
                & > td
                    display block
                    width 55%
                    float left
                    border none
                    text-align left
                    table
                        tr
                            border-bottom none
                            td
                                float none
                                display table-cell
                                width auto
        td
            &.margin
                display none !important
            &.itemphoto
                width 245px
                margin-right 15px
            &.control
                text-align left
    table#basket_items
        tr
            border-bottom 2px solid #e3e3e3
    .bx_ordercart_order_table_container
        table
            thead
                td
                    &:nth-child(3)
                        display none !important
            tbody
                td
                    &:nth-child(4)
                        display none !important
    .navigation
        & > div
            &.navigation-arrows
                float none

@media screen and (max-width: 680px)
    div#order_form_content
        width 95%
        margin 0 auto

@media screen and (max-width: 600px)
    #basket_items
        tbody
            tr
                & > td
                    width 40%
    .bx_order_make
        .bx_ordercart_order_pay_center
            margin 20px 15px 0

@media screen and (max-width: 480px)
    .hidden-menu
        width 100%
        left -100%
    .category_item
        height 150px
        width 98%
        margin 0.5% 1% !important
        span
            display inline-block
            margin 60px 0
    .infographics_text
        padding 37px 30px
    footer
        display none
    .mobile_footer
        display block
        height 300px
    .footer
        width 90%
    .navigation_footer
        height 200px
    .nav_footer
        position relative
        width 95%
        ul
            width 100%
            li
                text-align left
    .social_footer
        padding 0
        width 100%
    .nawak
        text-align left
        padding 20px 60% 10px 0
    .copy
        text-align left
        width 100%
        padding 20px 0 0
    #basket_items
        tbody
            tr
                & > td
                    width 100%
        td
            &.itemphoto
                width 100%
        tr
            &:last-child
                .line_control
                    display none
    .line_control
        width 100%
        border-bottom 2px solid #e3e3e3
        margin-top 10px
    table#basket_items
        tr
            border-bottom none

@media screen and (max-width: 1890px)
    .grid
        width 1500px

@media screen and (max-width: 1500px)
    .grid
        width 1200px

@media screen and (max-width: 1200px)
    .grid, .wrap_grid_recommend .grid
        width 900px

@media screen and (max-width: 1200px)
    .wrap_grid_recommend
        height 355px
        overflow hidden

@media screen and (max-width: 900px)
    .grid, .wrap_grid_recommend .grid
        width 600px

@media screen and (max-width: 900px)
    .wrap_grid_recommend
        height auto
        overflow visible

@media screen and (max-width: 600px)
    .bread_crumbs
        width 90%
        margin 0 auto

@media screen and (max-width: 600px)
    .catalog_grid h1, .wrap_detail h1, h1
        width 100%
        margin-left 0

@media screen and (max-width: 600px)
    .grid, .wrap_grid_recommend .grid
        width 300px

@media screen and (max-width: 780px)
    .left_block
        width 48.5%
    .right_block
        position absolute
        right 10px
        padding-top 60px

@media screen and (max-width: 768px)
    .wrap_detail
        & > div
            float none
    .left_block
        width 100%
    .parameter
        font 11px/20px Proxima Nova Regular
    .right_block
        position relative
        width 100%
        padding-top 0
        right 0
    .connected-carousels
        width 400px
        overflow hidden
        margin 0 auto
    .navigation
        & > div
            float left
    .prev_navigation
        transform rotate(-90deg)
        margin-top 10px
    .next_navigation
        transform rotate(-90deg)
        margin-top 10px
    .social_detail
        padding-top 30px
        width 155px

@media screen and (max-width: 480px)
    .connected-carousels
        width 300px
    .left_block
        padding 60px 15px

@media screen and (max-width: 780px)
    .page_container
        width 98%

@media screen and (max-width: 630px)
    h1
        &.page_title
            width 100%
            margin-left 0
    .page_container
        width 100%
    .page_left
        display none
    .page_right
        width 96%
        margin 0 auto

