.product_not_available
    margin-left 10px
    float left
    color grey

.product_available
    margin-left 10px
    float left
    color green


.catalog_grid h1, .cat_title
    font 34px/30px Lora bold
    width 40.75%
    margin-left 29.5%
    text-align center
    padding-top 15px
    margin-bottom 35px
